<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Astaroth Card Database</title>


    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body ng-app="app">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_donations">
        <input type="hidden" name="business" value="pauldonnymuir@gmail.com">
        <input type="hidden" name="lc" value="US">
        <input type="hidden" name="item_name" value="PDun">
        <input type="hidden" name="currency_code" value="USD">
        <input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>


    <div ng-controller="databaseController as db">
        <div class="container-fluid">
            <div class="jumbotron">
                <div>
                    <select class="pull-right" ng-model="lvl" ng-change="LevelChange()" ng-options="n for n in nums" class="">
                  </select>
                    <pre>Cards</pre>
                </div>
                <div ui-grid="cardsGrid" class="grid" ui-grid-auto-resize ui-grid-resize-columns ui-grid-pinning ui-grid-expandable ui-grid-exporter></div>
            </div>
        </div>
        <div class="container-fluid">

            <div class="jumbotron">
                <pre>Runes</pre>
                <div ui-grid="runesGrid" class="grid" ui-grid-auto-resize ui-grid-resize-columns ui-grid-exporter></div>
            </div>
        </div>
        <div class="container-fluid">

            <div class="jumbotron">
                <pre>Stages</pre>
                <div ui-grid="stagesGrid" class="grid" ui-grid-auto-resize ui-grid-resize-columns ui-grid-exporter></div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="jumbotron">
                <pre>Skills</pre>
                <div ui-grid="skillGrid" class="grid" ui-grid-auto-resize ui-grid-resize-columns ui-grid-exporter></div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="jumbotron">
                <div class="form-group">
                    <label for="Cards">Cards:</label>
                    <textarea class="form-control" rows="5" id="Cards" ng-model="cardData"></textarea>
                    <button class="btn btn-default" ng-click="ParseCards(cardData);">Parse</button>
                    <div ui-grid="userCardsGrid" class="grid" ui-grid-auto-resize ui-grid-resize-columns ui-grid-pinning ui-grid-expandable ui-grid-exporter></div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div ng-controller="CardsController as cards">
        <div class="container">
            <div class="jumbotron">
                <pre>Stages</pre>
                <div ui-grid="cardsGrid" class="grid" ui-grid-auto-resize ui-grid-resize-columns></div>
            </div>
        </div>
    </div>-->
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/csv-js@1.0.0/csv.min.js"></script>

<script src="scripts\pdfmake.js"></script>
<script src="scripts\vfs_fonts.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.0.6/ui-grid.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.0.6/ui-grid.min.css" />
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">


<script src="scripts/controller.js"></script>
<script src="FormattedData/runeData.js"></script>
<script src="FormattedData/cardData.js"></script>
<script src="FormattedData/skillData.js"></script>
<script src="FormattedData/stageData.js"></script>
<!-- <script src="scripts\main.js"></script> -->
<link rel="stylesheet" href="main.css" type="text/css" />

</html>
